/* //////////////////////////////////////////////////////// */
/* //////// Global //////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */

*,
::after,
::before {
  box-sizing: border-box;
  @include outline(1)
}

html {
  height: 100%;
  background-image: url("../assets/cell-96-160.svg");
}

body {
  height: 100%;
  margin: 0;
  font-family: "TTLakes", sans-serif;
  color: var(--color-text);
  background-image: url("../assets/cell-body.svg");
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 32px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
