/* /////////////////////////////////////////////////////////// */
/* //////// Variables //////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

:root {
  --color-text: #1B1C21;
  --color-background-grey: #F8F8F8;
  --color-accent: #FF3E79;
}
